# TP1 - API Nettoyage & Préparation (phase clean)

## Objectif
Vérifier si les calls API de la plateforme FastAPI

## Structure
- Récupération du dataset
- Endpoints de nettoyage (fit/transform)
- Rapport qualité des données

In [2]:
import requests
import pandas as pd


BASE_URL = "http://api:8000"
# Générer le dataset
response = requests.post(
    f"{BASE_URL}/dataset/generate",
    json={
        "phase": "clean",
        "seed": 42,
        "n": 1000
    }
)

data = response.json()
dataset_id = data["meta"]["dataset_id"]

print(f"Dataset ID: {dataset_id}")
print(f"Nombre de lignes: {data['result']['n_rows']}")
print(f"Colonnes: {data['result']['columns']}")

# Afficher un échantillon
df_sample = pd.DataFrame(data['result']['data_sample'])
df_sample.head(10)

Dataset ID: clean_42_1000_8606044b
Nombre de lignes: 1030
Colonnes: ['x1', 'x2', 'x3', 'segment', 'target']

                   x1                  x2                  x3 segment target
0  57.450712295168486  141.98066309758008   5.227404730506311       A      1
1   47.92603548243223  127.73901048738307  0.6828938057355076       B      1
2  59.715328071510385                oops   4.289699972993807       C      1
3   72.84544784612038                  NA  1.1765590487807251       A      0
4                  NA                  NA  16.514857100754803       B      0
5  46.487945645762295  111.80456156265248  29.505299850619984       B      1
6   73.68819223261087  126.85579660083197  0.7506463373245577       A      0
7                  NA  119.05515405045908  31.036562340686856       B      0
8   42.95788421097572  131.48658145958007  7.3935154938876115       A      1
9               -50.0   83.94294365318297  3.5605467627860206       A      1